<mat-toolbar color="accent">
    <span>   Silent Devices 
        </span>
        <span class = "spacer"></span>
   
  </mat-toolbar>
  
  <div class="container ">
  
      <div class="main">
        <a style="cursor: pointer" (click)="exportexcel()">
          <i class="fa fa-download">&nbsp;Export</i>
        </a>
        &nbsp;&nbsp;&nbsp;&nbsp;
        <div class="file-upload">
          <label for="file">
            <i class="fa fa-upload">&nbsp;Upload</i>
          </label>
          <input type="file" id="file" (change)="onFileChange($event)">
        </div>
      </div>
  
  <div id="excel-table">
      <mat-accordion multi = "true" >
          <mat-expansion-panel *ngFor="let device of devices" >
              <mat-expansion-panel-header>
                  <div class="row titleRow ">
                      <div class="column" >
                      <p> <b>Product no :</b> {{device.pNo}}</p>
                      </div>
                    </div>
  
                    <div class="row titleRow">
                        <div class="column" >
                        <p> <b> partner :</b> {{device.partner}}</p>
                        </div>
                      </div>
  
                      <div class="row titleRow">
                          <div class="column" >
                          <p> <b> MS Contract ID :</b> {{device.contractId}}</p>
                          </div>
                        </div>
                        <div class="row titleRow">
                            <div class="column" >
                            <p> <b> Last Modified Date :</b> {{device.lastmodifieddate}}</p>
                            </div>
                          </div>
  
                </mat-expansion-panel-header>
  
                <div class="row">
                    <div class="column" >
                    <p> <b> partner :</b> {{device.partner}}</p>
                    </div>
                  </div>
  
                  <div class="row">
                      <div class="column" >
                      <p> <b> MS Contract ID :</b> {{device.contractId}}</p>
                      </div>
                    </div>
                    <div class="row">
                        <div class="column" >
                        <p> <b> Last Modified Date :</b> {{device.lastmodifieddate}}</p>
                        </div>
                      </div>
  
  
  
  
                <!-- <p>{{device.partner}}</p>
                <p>{{device.contractId}}</p>
                <p>{{device.lastmodifieddate}}</p> -->
  
          </mat-expansion-panel>
      </mat-accordion>
  
  </div>
  
    </div>
  
  
  
  